/* Stilizacija akordiona */
.accordion {
  //margin: 20px 0;

  .accordion-header {
    background-color: #f5f5f5;
    border: none;
    outline: none;
    //padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #e0e0e0;
    }


    button {
      background-color: transparent;
      border: none;
      font-weight: bold;
      //text-align: left;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .accordion-body {
    //border: 1px solid #ddd;
    border: none;
    //border-top: none;
    padding: 10px;
    background-color: #fff;

  }

  // Dodatni stil za otvorene akordione
  &.accordion {
    .accordion-header {

      &.collapsed {
        background-color: #f5f5f5;

        &:hover {
          background-color: #e0e0e0;
        }
      }
    }

    .accordion-body {
      &.show {
        border: 1px solid #ddd;
        border-top: none;
      }

      .vrsta-usluge {
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
      }
    }
  }

}

///* Stilizacija ikonice za otvorene/zatvorene akordione (font-awesome klasa) */
//.accordion-button::after {
//  //content: '\f068'; // Zamenite ovde sa odgovarajućom ikonicom (koristite font-awesome)
//  //font-family: 'Font Awesome 5 Free';
//  font-weight: 900;
//  //float: right;
//  margin-left: 5px;
//
//  &.collapsed {
//    //content: '\f067'; // Zamenite ovde sa ikonom za zatvoreni akordion (koristite font-awesome)
//  }
//}
