

.navigacija {
  //z-index: 200;

  .nav-box {

    .nav-item {
      color: #1e1e1e;
      text-decoration: none;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-right: 1rem;
      font-weight: bolder;
    }
  }

}


