
.treca-kontejner {

  h1 {
    color: blue;
    text-align: center;
  }


  .obavest {
    width: 100%;
    background-color: #a9d4ff;

    h5 {
      text-align: center;
      color: blue;
      padding: 0.7rem;
    }
  }


  .treca-strana {

    h3 {
      text-align: center;
    }



    .tekst {
      margin-top: 2rem;

      h2 {
        text-align: center;
      }
    }

  }

  .sakrij {
    display: none;
  }

}